USE [master]
GO
/****** Object:  Database [db_absensi]    Script Date: 05/01/2024 11.29.16 ******/
CREATE DATABASE [db_absensi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_absensi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ALFASERVER\MSSQL\DATA\db_absensi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_absensi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ALFASERVER\MSSQL\DATA\db_absensi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_absensi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_absensi]
GO
/****** Object:  Table [dbo].[acara]    Script Date: 05/01/2024 11.29.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[acara](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nama Acara] [varchar](max) NOT NULL,
	[Tanggal] [date] NOT NULL,
	[Waktu Mulai] [datetime] NOT NULL,
	[Waktu Selesai] [datetime] NOT NULL,
	[Lokasi] [varchar](max) NOT NULL,
	[Deskripsi] [text] NULL,
	[Operator] [varchar](100) NULL,
 CONSTRAINT [PK_acara] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[daftar_hadir]    Script Date: 05/01/2024 11.29.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[daftar_hadir](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AcaraID] [int] NULL,
	[Email] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Waktu] [time](7) NULL,
 CONSTRAINT [PK_daftar_hadir] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 05/01/2024 11.29.16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Email] [varchar](100) NOT NULL,
	[Nama Lengkap] [varchar](100) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[No. Telepon] [varchar](50) NOT NULL,
	[Jabatan] [varchar](50) NOT NULL,
 CONSTRAINT [PK_administrator] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[acara]  WITH CHECK ADD  CONSTRAINT [FK_acara_users] FOREIGN KEY([Operator])
REFERENCES [dbo].[users] ([Email])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[acara] CHECK CONSTRAINT [FK_acara_users]
GO
ALTER TABLE [dbo].[daftar_hadir]  WITH CHECK ADD  CONSTRAINT [FK_daftar_hadir_acara] FOREIGN KEY([AcaraID])
REFERENCES [dbo].[acara] ([ID])
GO
ALTER TABLE [dbo].[daftar_hadir] CHECK CONSTRAINT [FK_daftar_hadir_acara]
GO
ALTER TABLE [dbo].[daftar_hadir]  WITH CHECK ADD  CONSTRAINT [FK_daftar_hadir_users] FOREIGN KEY([Email])
REFERENCES [dbo].[users] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[daftar_hadir] CHECK CONSTRAINT [FK_daftar_hadir_users]
GO
USE [master]
GO
